<header id="home-header" [ngClass]="{'header-fixed': isFixed}">
  <div class="container" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
    <div class="header-mobile-top" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
      <div class="home-logo mr-1">
          <a href="/"><img src="assets/images/logo-full.png" alt="Egret logo"></a>
      </div>
      <button mat-icon-button id="menu-toggle" (click)="toggleMenu()"><mat-icon>menu</mat-icon></button>
    </div>
    <div fxFlex class="top-menu">
      <button mat-button id="dashboard-topbtn" class="hometop-btn" [routerLink]="'/'"><strong>Home</strong></button>
      <button mat-button id="dashboard-topbtn" class="hometop-btn" [routerLink]="'/story'"><strong>Story</strong></button>
      <span fxFlex></span>
    </div>
    <div fxFlex class="top-menu">
      <div class="info">
        <a style="padding-right: 20px;" href="mailto:delta_kam@ukr.net" class="text-center"><span>delta_kam@ukr.net</span></a>
        <a href="tel:+380673713288" class="text-center"><span>+ 38 067 371 3288</span></a>
      </div>
      <span fxFlex></span>
    </div>
  </div>
</header>
