<p>MODAL WORKS!!!</p>

<div class="basic-container">
  <p>
    <button mat-button (click)="gallery.open()">Open Gallery</button>
  </p>
  <p class="container" gallerize>
    <img src="../../../../assets/images/0046.jpg" alt="img1" border="0">
    <img src="../../../../assets/images/0051.jpg" alt="img2" border="0">
    <img src="../../../../assets/images/0062.jpg" alt="img3" border="0">
    <img src="../../../../assets/images/0065.jpg" alt="img4" border="0">
    <img src="../../../../assets/images/0067.jpg" alt="img5" border="0">
    <img src="../../../../assets/images/0072.jpg" alt="img6" border="0">
</div>
