.container {
  .main-text {
    margin-top: 40px;
  }

  .plan-pricing .mat-list-item ::ng-deep .mat-list-item-content {
    display: inline-flex !important;
    text-align: center;
    font-size: .875rem !important;
  }
  .plan-pricing button {
    color: #ffffff;
    transition: 0.6s;
  }
  .plan-pricing button:hover {
    background: #268469;
  }

}

@media (max-width: 767px) {

  .wrap {
    //box-shadow: 10px 0 5px -2px #888;
    display: flex !important;
    overflow-x: auto;
    flex-flow: nowrap !important;
  }
  .card-wrap {
    margin-right: 10px;
    flex: 1 0 90% !important;
  }

}
