<section class="home-section home-cta">
  <div class="container">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="20px">
      <div fxFlex="66.666" class="text-wrap">
        <h2>Котеджі на Куликівській</h2>
        <p>Котеджі на Куликівській - 6 спарених просторих котеджів в парковому районі Львова від забудовника.
          Ми створили для вас затишний комплекс в одному з найближчих до центру спальних районів.
          Сучасне оформлення, сертифіковані матеріали будівництва, закрита територія та розвинена
          інфраструктура - створять для вас справжній сімейний затишок. Котеджі здано в експлуатацію.
        </p>
      </div>
      <div fxFlex="33.333" fxLayoutAlign="center center" class="button-wrap">
        <button mat-raised-button mat-lg-button color="accent"
                (click)="buyEgret()">Зареєструватися на індивідуальну екскурсію</button>
      </div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="20px">
      <div fxFlex="100" class="text-wrap">
        <h2>Переваги нашого котеджного комплексу</h2>
        <ul class="advantages">
          <li>- Сертифіковані матеріали будівництва</li>
          <li>- Оформлення земельної ділянки у власність</li>
          <li>- Близьке розташування до центру</li>
          <li>- Можливість встановлення сауни, каміну</li>
          <li>- Можливість встановлення альтернативного опалення</li>
          <li>- Котеджі здано в експлуатацію</li>
        </ul>
      </div>
    </div>
  </div>
</section>
