<section id="portfolio-section" class="portfolio home-section" [ngClass]="{'light-gray': backgroundGray}">
  <div class="container">
    <div class="section-header">
      <h2 class="main-text">План будови котеджів:</h2>
      <p>Наші котеджі мають достатньо простору для втілення ваших мрій в реальність, загальна площа кожного
        котеджу становить 168 м². До плану входить: цокольний поверх, перший та другий поверхи, а також мансарда.
        Вартість від 28 500 тисяч гривень за м² (з можливістю розтермінування оплати)
      </p>
    </div>
    <!--[gallerize]="'cottages'"-->
    <div class="wrap" fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
      <div fxFlex="25" class="card-wrap">
        <mat-card class="p-0 m-0">
          <img mat-card-image class="cottages" src="../../../../assets/images/new/site1.jpg"
               alt="Котедж 1" border="0" id="4">
          <mat-card-content>
            <h5><strong><a href="">План цокольного поверху</a></strong></h5>
            <mat-divider class="mb-1"></mat-divider>
            <p>- Просторий гараж з окремим приміщенням для інвентарю</p>
            <p>- Бойлерна </p>
            <p>- Туалет</p>
            <p>- Душова</p>
            <p>- Сауна</p>
            <!--<mat-divider class="mb-1"></mat-divider>-->
            <!--<button mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>-->
            <!--<button mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>-->
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="25" class="card-wrap">
        <mat-card class="p-0 m-0">
          <img mat-card-image class="cottages" src="../../../../assets/images/new/site2.jpg"
               alt="Котедж 2" border="0" id="5">
          <mat-card-content>
            <h5><strong><a href="">План першого поверху</a></strong></h5>
            <mat-divider class="mb-1"></mat-divider>
            <p>- Великий хол з балконом</p>
            <p>- Місце для кухні</p>
            <p>- Камін</p>
            <p>- Туалет</p>
            <!--<mat-divider class="mb-1"></mat-divider>-->
            <!--<button mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>-->
            <!--<button mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>-->
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="25" class="card-wrap">
        <mat-card class="p-0 m-0">
          <img mat-card-image class="cottages" src="../../../../assets/images/new/site3.jpg"
               alt="Котедж 3" border="0" id="6">
          <mat-card-content>
            <h5><strong><a href="">План другого поверху</a></strong></h5>
            <mat-divider class="mb-1"></mat-divider>
            <p>- Дві кімнати</p>
            <p>- Ванна</p>
            <p>- Туалет</p>
            <!--<mat-divider class="mb-1"></mat-divider>-->
            <!--<button mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>-->
            <!--<button mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>-->
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="25" class="card-wrap">
        <mat-card class="p-0 m-0">
          <img mat-card-image class="cottages" src="../../../../assets/images/new/site4.jpg"
               alt="Котедж 4" border="0" id="7">
          <mat-card-content>
            <h5><strong><a href="">План мансардного поверху</a></strong></h5>
            <mat-divider class="mb-1"></mat-divider>
            <p>- Вільне планування</p>
            <!--<mat-divider class="mb-1"></mat-divider>-->
            <!--<button mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>-->
            <!--<button mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>-->
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="text-center home-section-action">
      <button mat-raised-button mat-lg-button color="accent">Дізнатись більше</button>
    </div>
  </div>
</section>
