.portfolio {
  padding: 40px 0;
  .container {
    .section-header {
      p {
        max-width: 100%;
      }
    }
  }
}
.container {
  .main-text {
    margin: 20px auto;
  }

  .card-wrap {
    mat-card {
      //height: 500px;
      mat-card-content {
        height: 200px;
        p {
          margin: 0 0 7px 0;
        }
      }

    }
    &:nth-child(2) {
      p {
        &:last-of-type {
          margin-bottom: 73px;
        }
      }
    }
    &:nth-child(3) {
      p {
        &:last-of-type {
          margin-bottom: 110px;
        }
      }
    }
    &:nth-child(4) {
      p {
        &:last-of-type {
          margin-bottom: 183px;
        }
      }
    }
  }

  button {
    color: #ffffff;
  }
  button:hover {
    background: #268469;
  }
  button:hover .text-muted {
    color: #ffffff !important;
    background: #268469;
  }
}

@media (max-width: 767px) {

  .wrap {
    //box-shadow: 10px 0 5px -2px #888;
    display: flex !important;
    overflow-x: auto;
    flex-flow: nowrap !important;
  }
  .card-wrap {
    margin-right: 10px;
    flex: 1 0 90% !important;
    mat-card {
      mat-card-content {
        p {
          height: 100px;
        }
      }
    }
  }

}

