<section id="portfolio-section" class="portfolio home-section" [ngClass]="{'light-gray': backgroundGray}">
  <div class="container">
    <div class="section-header">
      <h2 class="main-text">Наші проекти</h2>
      <p>Жебракують філософи при ґанку церкви в Гадячі, ще й шатро їхнє знаємо. (панграма)
      </p>
    </div>

    <div class="wrap" fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" [gallerize]="'cottages'">
      <div fxFlex="25" class="card-wrap">
        <mat-card class="p-0 m-0">
          <img mat-card-image class="cottages" src="../../../../assets/images/0046.jpg"
               alt="Котедж 1" border="0" id="4">
          <mat-card-content>
            <h5><strong><a href="">Проект номер 1</a></strong></h5>
            <p>
              Adipisci quas repellat sed. Quasi quaerat aut nam possimus vitae dignissimos, sapiente est atque tenetur.
            </p>
            <mat-divider class="mb-1"></mat-divider>
            <button mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>
            <button mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="p-0 m-0">
          <img mat-card-image class="cottages" src="../../../../assets/images/0067.jpg"
               alt="Котедж 2" border="0" id="5">
          <mat-card-content>
            <h5><strong><a href="">Проект номер 2</a></strong></h5>
            <p>
              Adipisci quas repellat sed. Quasi quaerat aut nam possimus vitae dignissimos, sapiente est atque tenetur.
            </p>
            <mat-divider class="mb-1"></mat-divider>
            <button mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>
            <button mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="p-0 m-0">
          <img mat-card-image class="cottages" src="../../../../assets/images/0083.jpg"
               alt="Котедж 3" border="0" id="6">
          <mat-card-content>
            <h5><strong><a href="">Проект номер 3</a></strong></h5>
            <p>
              Adipisci quas repellat sed. Quasi quaerat aut nam possimus vitae dignissimos, sapiente est atque tenetur.
            </p>
            <mat-divider class="mb-1"></mat-divider>
            <button mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>
            <button mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="p-0 m-0">
          <img mat-card-image class="cottages" src="../../../../assets/images/0072.jpg"
               alt="Котедж 4" border="0" id="7">
          <mat-card-content>
            <h5><strong><a href="">Проект номер 4</a></strong></h5>
            <p>
              Adipisci quas repellat sed. Quasi quaerat aut nam possimus vitae dignissimos, sapiente est atque tenetur.
            </p>
            <mat-divider class="mb-1"></mat-divider>
            <button mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>
            <button mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="text-center home-section-action">
      <button mat-raised-button mat-lg-button color="accent">Дізнатись більше</button>
    </div>
  </div>
</section>
