.portfolio {
  padding: 40px 0;
}
.container {
  .main-text {
    margin: 20px auto;
  }
  button {
    color: #ffffff;
    //transition: 0.6s;
  }
  button:hover {
    background: #268469;
  }
  //button .text-muted {
  //  color: #006e4f;
  //}
  button:hover .text-muted {
    color: #ffffff !important;
    background: #268469;
  }
}

@media (max-width: 767px) {

  .wrap {
    //box-shadow: 10px 0 5px -2px #888;
    display: flex !important;
    overflow-x: auto;
    flex-flow: nowrap !important;
  }
  .card-wrap {
    margin-right: 10px;
    flex: 1 0 90% !important;
  }

}

