<section id="index-banner">
  <div class="bg-opacity-layer"></div>
  <div class='bg'></div>
  <!-- The video -->
  <!--<video class="videoContainer" id="video" style='width: 100%' muted loop autoplay>-->
    <!--&lt;!&ndash; todo uncomment line below at production &ndash;&gt;-->
    <!--<source src="../../../../assets/video/cottage.mp4" type="video/mp4">-->
  <!--</video>-->

  <!-- Optional: some overlay text to describe the video -->
  <div class="content">
    <!--<div class="ribbon"><span>Акція</span></div>-->
    <div id='text-move'>
      <!--<span style='padding-left: 250px'>Акція! Ціну знижено до 31.11.2018 року всього <span class='old-price'>(28 500 грн м²)</span> 24 900-->
        <!--грн м² на один-->
        <!--із 4 котеджів</span>-->
      <span style='padding-left: 250px'>Акція! До 30.11 діє акція на один із 4 котеджів всього <span class='old-price'>(28 500 грн
        м²)</span> 24 900 грн м²</span>
      <span style='padding-left: 250px'>Акція! Ціну знижено до 31.11.2018 року всього <span class='old-price'>(28 500 грн м²)</span> 24 900 грн м² на один із 4 котеджів</span>
      <span style='padding-left: 250px'>Акція! До 30.11 діє акція на один із 4 котеджів всього <span class='old-price'>(28 500 грн м²)</span> 24 900 грн м²</span>
      <span style='padding-left: 250px'>Акція! Ціну знижено до 31.11.2018 року всього <span class='old-price'>(28 500 грн м²)</span> 24 900 грн м² на один із 4 котеджів</span>
      <span style='padding-left: 250px'>Акція! До 30.11 діє акція на один із 4 котеджів всього <span class='old-price'>(28 500 грн м²)</span> 24 900 грн м²</span>
    </div>
    <div class="row text-center">
      <h1>КОТЕДЖІ НА КУЛИКІВСЬКІЙ</h1>
      <div class="hr"></div>
      <p>коли все поруч</p>

      <div fxLayout="row" fxLayout.lt-sm="column" class="btn-container">
        <button mat-raised-button mat-lg-button class="intro-cta" (click)='openDialog()'>
          Індивідуальна екскурсія
        </button>
        <span fxFlex="20px"></span>
      </div>
    </div>
  </div>
  <div class="downArrow bounce" [ngx-scroll-to]="'#cta'">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 129 129"
         enable-background="new 0 0 129 129" width="50px" height="50px">
      <g>
        <path
          d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z" fill="white"/>
      </g>
    </svg>
  </div>
</section>

