<section id="index-banner">
  <div class="bg-opacity-layer"></div>
  <!-- The video -->
  <video autoplay muted loop class="videoContainer" id="myVideo">
    <!-- todo uncomment line below at production -->
    <!--<source src="../../../../assets/video/cottage_1.mp4" type="video/mp4">-->
  </video>

  <!-- Optional: some overlay text to describe the video -->
  <div class="content">
    <div class="row text-center">
      <h1>КОТЕДЖІ НА КУЛИКІВСЬКІЙ</h1>
      <div class="hr"></div>
      <p>коли все поруч</p>

      <div fxLayout="row" fxLayout.lt-sm="column" class="btn-container">
        <button mat-raised-button mat-lg-button class="intro-cta">
          Індивідуальна екскурсія
        </button>
        <span fxFlex="20px"></span>
      </div>
    </div>
  </div>
</section>

