<section id="index-banner">
  <div class="bg-opacity-layer"></div>
  <!-- The video -->
  <video autoplay muted loop class="videoContainer" id="myVideo">
    <!--<source src="../../../../assets/video/cottage.mp4" type="video/mp4">-->
  </video>

  <!-- Optional: some overlay text to describe the video -->
  <div class="content">
    <div class="row text-center">
      <h1>КОТЕДЖІ НА КУЛИКІВСЬКІЙ</h1>

      <div fxLayout="row" fxLayout.lt-sm="column" class="btn-container">
        <button mat-raised-button mat-lg-button
                color="primary" class="intro-cta">
          <mat-icon>add_shopping_cart</mat-icon> Купити
        </button>
        <span fxFlex="20px"></span>
        <button (click)="pauseAudio()" mat-raised-button mat-lg-button class="intro-cta">
          <mat-icon>settings_voice</mat-icon>{{ status }}
        </button>
      </div>
    </div>
  </div>
</section>
