.bg-opacity-layer {
  background: rgba(0,0,0,.98);
  opacity: .45;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
#index-banner {
  //height: 720px;
  height: -webkit-fill-available;
  width: 100%;
  //min-height: 100%;
  .videoContainer {
    position: absolute;
    right: 0;
    bottom: 0;
    height: auto;
    min-width: 100%;
    min-height: 100%;

    //top: 50%;
    //left: 50%;
    //transform: translate(-50%, -50%);
    ////z-index: -50;
  }

  .content {
    position: absolute;
    bottom: 100px;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    z-index: 2;
    .btn-container {
      display: flex;
      justify-content: space-between;
    }

    h1 {
      font-size: 40px;
      font-weight: 300;
      color: #ffffff;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    .intro-cta {
      //min-width: 20%;
    }
  }
}

//#index-banner {
//  padding-top: 50px;
//}
//.parallax-img {
//  background-image: url('../../../../assets/images/home-bg2.jpg');
//  background-position: 50% 0;
//  background-attachment: fixed;
//  background-repeat: no-repeat;
//  background-size: auto;
//  position: relative;
//  z-index: 1;
//
//  .bg-opacity-layer {
//    background: rgba(0,0,0,.98);
//    opacity: .45;
//    bottom: 0;
//    left: 0;
//    position: absolute;
//    right: 0;
//    top: 0;
//    z-index: -1;
//  }
//  .view-frame {
//    position: absolute;
//    z-index: 30;
//    top: 0;
//    left: 0;
//    //width: 500em;
//    //height: 43.75em;
//    width: 100%;
//    height: 400px;
//    opacity: 1;
//    visibility: inherit;
//    background: url('../../../../assets/images/clouds.png') 0 100% repeat-x;
//    -webkit-animation: cloudLoop 60s linear infinite;
//    -moz-animation: cloudLoop 60s linear infinite;
//    animation: cloudLoop 60s linear infinite;
//  }
//  #header {
//    background: 0 0;
//    padding: 60px 0;
//
//    .container {
//      padding-right: 15px;
//      padding-left: 15px;
//      margin-right: auto;
//      margin-left: auto;
//      &:before {
//        display: table;
//        content: " ";
//        box-sizing: border-box;
//      }
//
//      .intro-cta {
//        max-width: 180px;
//        margin:  0 auto;
//      }
//    }
//    .text-center {
//      text-align: center;
//    }
//    h1 {
//      font-size: 100px;
//      font-weight: 300;
//      color: #ffffff;
//      margin-top: 20px;
//      margin-bottom: 10px;
//    }
//  }
//
//}
//
//
//
//@media (min-width: 1200px) {
//  .container {
//    width: 1170px;
//  }
//}
//
//@media (min-width: 992px) {
//  .container {
//    width: 970px;
//  }
//}
//
//@media (min-width: 768px) {
//  .container {
//    width: 750px;
//  }
//}



//.home-intro-section {
//  background: url('../../../../assets/images/home-bg.jpg') no-repeat center center;
//  -webkit-background-size: cover;
//  -moz-background-size: cover;
//  -o-background-size: cover;
//  background-size: cover;
//  padding: 180px 0;
//  color: #ffffff;
//  overflow: hidden
//}
//.home-intro-title {
//  margin: 0 0 24px;
//  font-size: 48px;
//  font-weight: 900;
//  line-height: 52px;
//  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.22);
//}
//.home-intro-desc {
//  margin: 0 0 40px;
//  font-size: 22px;
//  font-weight: 400;
//  line-height: 32px;
//}
//.intro-list {
//  margin: 0 0 40px;
//}
//.intro-product {
//  position: relative;
//  top: 100px;
//  left: 60px;
//}
//.intro-product-link {
//  position: absolute;
//  top: -110px;
//  left: -45px;
//  text-align: center;
//  display: block;
//  width: 160px;
//  height: 160px;
//  border-radius: 50%;
//  background: #fff;
//  color: rgba(0, 0, 0, .87);
//  padding: 37px 20px;
//  box-sizing: border-box;
//  overflow: hidden;
//  box-shadow: 0 14px 32px rgba(0, 0, 0, 0.2);
//  transition: all .3s ease;
//}
//.intro-product-link:hover {
//  box-shadow: 0 19px 32px rgba(0, 0, 0, 0.4);
//}
//.intro-product-link .price {
//  font-size: 32px;
//  font-weight: 700;
//}
//.intro-product-link .price-text {
//  font-size: 14px;
//}
//
//@media (max-width: 767px) {
//  .home-intro-section {
//    padding: 100px 0 60px;
//  }
//  .home-intro-title {
//    margin: 0 0 30px;
//    font-size: 32px;
//    font-weight: 900;
//    line-height: 38px;
//    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.22);
//  }
//  .home-intro-desc {
//    margin: 0 0 40px;
//    font-size: 18px;
//    font-weight: 400;
//    line-height: 27px;
//  }
//  .intro-product {
//      top: 0;
//      left: 20px;
//  }
//  .intro-product-link {
//      top: -80px;
//      transform: scale(.5);
//  }
//}
