.container {
  .main-text {
    padding-top: 40px;
  }
  div {
    &:last-child {
      padding-bottom: 10px;
    }
  }
  .change-position {
    margin: 0 0 1rem!important;
  }

  button:hover {
    background: #268469;
  }
  button:hover .text-muted {
    color: #ffffff !important;
    background: #268469;
  }
}

//.dialog-overlay gallery-lightbox {
//  max-width: 1000px;
//  max-height: 1000px;
//  min-width: 320px;
//  min-height: 500px;
//}

@media (max-width: 320px) {
  .dialog-overlay, gallery-lightbox, gallery, gallery-main {
    height: 500px !important;
    width: 310px !important;
  }
}

@media (max-width: 480px) {
  .dialog-overlay, gallery-lightbox, gallery, gallery-main {
    height: 500px !important;
    width: 380px !important;
  }
}

@media (max-width: 767px) {

  .wrap {
    //box-shadow: 10px 0 5px -2px #888;
    display: flex !important;
    overflow-x: auto;
    flex-flow: nowrap !important;
  }
  .card-wrap {
    margin-right: 10px;
    flex: 1 0 90% !important;
  }

}
