<section id="service-section" class="home-section" [ngClass]="{'light-gray': backgroundGray}" style='padding-bottom: 50px;'>
  <div class="container">
    <div class="section-header">
      <h2 class="main-text">Наші котеджі</h2>
      <p>Котеджі на Куликівській знаходяться в елітному районі Львова. Загальна площа кожного котеджу - 168 м². Додатково до плану входить: кована огорожа, бруківка, броньовані двері, місце під сауну та камін, всі лічильники, чорнова стяжка, штукатурка, мансарда в найнижчому місці (висота 2,4 м), опалення — газ + альтернативне (твердопаливний котел), димоходи з нержавіючої сталі, вікна і двері компанії «Rehau», гаражні ворота німецькі «Hormann», стіни цегляні (38 см) утеплені мінватою (100 мм), а також сучасний фасад.</p>
      <br>
      <p>До плану котеджів на Куликівській входить: утеплений фасад та дах, німецькі гаражні ворота, вікна, бруківка по всій території, кована огорожа, броньовані двері, зручні сходи, проведений газ та світло,  підключений лічильник, заведена центральна каналізація, два димоходи з нержавіючої сталі, є місця під камін та сауну.
      </p>
    </div>
    <div class="wrap" fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="20px">
      <div class="card-wrap" fxFlex="25">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
              <img class="change-position" mat-card-image src="../../../../assets/images/new/DSC_0055.jpg"
                   alt="Котедж 1" border="0" id="1">
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">Котедж 1</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description">Площа 168, 6 м²</p>
            <p>31 500 грн. м²</p>
            <span fxFlex="40px"></span>
            <div>
              <button mat-button (click)='openGallery()'><strong class="text-muted">Фото</strong></button>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="card-wrap" fxFlex="25">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
              <img class="change-position" mat-card-image src="../../../../assets/images/new/DSC_0073.jpg"
                   alt="Котедж 2" border="0" id="2">
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">Котедж 2</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description">Площа 168, 6 м²</p>
            <p>28 500 грн. м²</p>
            <span fxFlex="40px"></span>
            <div>
              <button mat-button (click)='openGallery()'><strong class="text-muted">Фото</strong></button>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="card-wrap" fxFlex="25">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
              <img class="change-position" mat-card-image src="../../../../assets/images/new/DSC_0084.jpg"
                   alt="Котедж 3" border="0" id="3">
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">Котедж 3</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description">Площа 168, 5 м²</p>
            <p>33 900 грн. м²</p>
            <span fxFlex="40px"></span>
            <div>
              <button mat-button (click)='openGallery()'><strong class="text-muted">Фото</strong></button>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="card-wrap" fxFlex="25">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <img class="change-position" mat-card-image src="../../../../assets/images/new/DSC_0084.jpg"
                 alt="Котедж 3" border="0" id="4">
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">Котедж 4</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description">Площа 167, 8 м²</p>
            <p>31 500 грн. м²</p>
            <span fxFlex="40px"></span>
            <div>
              <button mat-button (click)='openGallery()'><strong class="text-muted">Фото</strong></button>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>

</section>
