.container {
  .main-text {
    padding-top: 40px;
  }
  div {
    &:last-child {
      padding-bottom: 10px;
    }
  }
  .change-position {
    margin: 0 0 1rem!important;
  }

  button:hover {
    background: #268469;
  }
  button:hover .text-muted {
    color: #ffffff !important;
    background: #268469;
  }
}

@media (max-width: 767px) {

  .wrap {
    //box-shadow: 10px 0 5px -2px #888;
    display: flex !important;
    overflow-x: auto;
    flex-flow: nowrap !important;
  }
  .card-wrap {
    margin-right: 10px;
    flex: 1 0 90% !important;
  }

}
