<section id="feature-desc">
  <div class="container">
    <div class="section-header">
      <h2 class="main-text">Block 0</h2>
    </div>
    <div class="row">
      <div class="col-4 text-center">
        <div class="icon-block mb50">
          <span class="icon-color">
            <mat-icon>laptop</mat-icon>
          </span>
          <h3>Fully Responsive</h3>
          <p>
            Appestia app landing page comes with fully responsive design - work with all the devices like Desktop, Mobiles, iPad, Tablets. Design run smoothly
          </p>
        </div>
      </div>
      <div class="col-4 text-center">
        <div class="icon-block mb50">
          <span class="icon-color">
            <mat-icon>filter_9_plus</mat-icon>
          </span>
          <h3>12+ Demos</h3>
          <p>
            Appestia app landing page comes with fully responsive design - work with all the devices like Desktop, Mobiles, iPad, Tablets. Design run smoothly
          </p>
        </div>
      </div>
      <div class="col-4 text-center">
        <div class="icon-block mb50">
          <span class="icon-color">
            <mat-icon>invert_colors</mat-icon>
          </span>
          <h3>Color Varient</h3>
          <p>
            Appestia app landing page comes with fully responsive design - work with all the devices like Desktop, Mobiles, iPad, Tablets. Design run smoothly
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4 text-center">
        <div class="icon-block mb50">
          <span class="icon-color">
            <mat-icon>share</mat-icon>
          </span>
          <h3>Twitter Live Tweet</h3>
          <p>
            Twitter api is integrated with Appestia app landing page. User can see your page's live twitter tweet. Quick installation in one step using documentation
          </p>
        </div>
      </div>
      <div class="col-4 text-center">
        <div class="icon-block mb50">
          <span class="icon-color">
            <mat-icon>bubble_chart</mat-icon>
          </span>
          <h3>Contact Form Ready</h3>
          <p>
            Appestia app landing page come along the working contact form with form validation and send mail ready. You just need to setup the quick installation
          </p>
        </div>
      </div>
      <div class="col-4 text-center">
        <div class="icon-block mb50">
          <span class="icon-color">
            <mat-icon>email</mat-icon>
          </span>
          <h3>MailChimp Ready</h3>
          <p>
            Appestia app landing page come along the working mailchimp auto subscriber api. The process needs the quick installation process using documentation
          </p>
        </div>
      </div>
    </div>
  </div>
</section>


<!--<section id="portfolio-section" class="portfolio home-section" [ngClass]="{'light-gray': backgroundGray}">-->
  <!--<div class="container">-->
    <!--<div class="section-header">-->
      <!--<h2>Our Works</h2>-->
      <!--<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde inventore molestias ab adipisci eius nisi placeat-->
        <!--at.-->
      <!--</p>-->
    <!--</div>-->

    <!--<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">-->
      <!--<div fxFlex="33.33">-->
        <!--<mat-card class="p-0 m-0">-->
          <!--<img mat-card-image src="assets/images/sq-12.jpg">-->
          <!--<mat-card-content>-->
            <!--<h5><strong><a href="">Project One</a></strong></h5>-->
            <!--<p>-->
              <!--Adipisci quas repellat sed. Quasi quaerat aut nam possimus vitae dignissimos, sapiente est atque tenetur.-->
            <!--</p>-->
            <!--<mat-divider class="mb-1"></mat-divider>-->
            <!--<button mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>-->
            <!--<button mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>-->
          <!--</mat-card-content>-->
        <!--</mat-card>-->
      <!--</div>-->
      <!--<div fxFlex="33.33">-->
        <!--<mat-card class="p-0 m-0">-->
          <!--<img mat-card-image src="assets/images/sq-9.jpg">-->
          <!--<mat-card-content>-->
            <!--<h5><strong><a href="">Project Two</a></strong></h5>-->
            <!--<p>-->
              <!--Adipisci quas repellat sed. Quasi quaerat aut nam possimus vitae dignissimos, sapiente est atque tenetur.-->
            <!--</p>-->
            <!--<mat-divider class="mb-1"></mat-divider>-->
            <!--<button mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>-->
            <!--<button mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>-->
          <!--</mat-card-content>-->
        <!--</mat-card>-->
      <!--</div>-->
      <!--<div fxFlex="33.33">-->
        <!--<mat-card class="p-0 m-0">-->
          <!--<img mat-card-image src="assets/images/sq-10.jpg">-->
          <!--<mat-card-content>-->
            <!--<h5><strong><a href="">Project Three</a></strong></h5>-->
            <!--<p>-->
              <!--Adipisci quas repellat sed. Quasi quaerat aut nam possimus vitae dignissimos, sapiente est atque tenetur.-->
            <!--</p>-->
            <!--<mat-divider class="mb-1"></mat-divider>-->
            <!--<button mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>-->
            <!--<button mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>-->
          <!--</mat-card-content>-->
        <!--</mat-card>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="text-center home-section-action">-->
      <!--<button mat-raised-button mat-lg-button color="accent">LOAD MORE</button>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->
