<section id="feature-desc">
  <div class="container">
    <div class="section-header">
      <h2 class="main-text">Block 0</h2>
    </div>
    <div class="row">
      <div class="col-4 text-center">
        <div class="icon-block mb50">
          <span class="icon-color">
            <mat-icon>laptop</mat-icon>
          </span>
          <h3>Fully Responsive</h3>
          <p>
            Appestia app landing page comes with fully responsive design - work with all the devices like Desktop, Mobiles, iPad, Tablets. Design run smoothly
          </p>
        </div>
      </div>
      <div class="col-4 text-center">
        <div class="icon-block mb50">
          <span class="icon-color">
            <mat-icon>filter_9_plus</mat-icon>
          </span>
          <h3>12+ Demos</h3>
          <p>
            Appestia app landing page comes with fully responsive design - work with all the devices like Desktop, Mobiles, iPad, Tablets. Design run smoothly
          </p>
        </div>
      </div>
      <div class="col-4 text-center">
        <div class="icon-block mb50">
          <span class="icon-color">
            <mat-icon>invert_colors</mat-icon>
          </span>
          <h3>Color Varient</h3>
          <p>
            Appestia app landing page comes with fully responsive design - work with all the devices like Desktop, Mobiles, iPad, Tablets. Design run smoothly
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4 text-center">
        <div class="icon-block mb50">
          <span class="icon-color">
            <mat-icon>share</mat-icon>
          </span>
          <h3>Twitter Live Tweet</h3>
          <p>
            Twitter api is integrated with Appestia app landing page. User can see your page's live twitter tweet. Quick installation in one step using documentation
          </p>
        </div>
      </div>
      <div class="col-4 text-center">
        <div class="icon-block mb50">
          <span class="icon-color">
            <mat-icon>bubble_chart</mat-icon>
          </span>
          <h3>Contact Form Ready</h3>
          <p>
            Appestia app landing page come along the working contact form with form validation and send mail ready. You just need to setup the quick installation
          </p>
        </div>
      </div>
      <div class="col-4 text-center">
        <div class="icon-block mb50">
          <span class="icon-color">
            <mat-icon>email</mat-icon>
          </span>
          <h3>MailChimp Ready</h3>
          <p>
            Appestia app landing page come along the working mailchimp auto subscriber api. The process needs the quick installation process using documentation
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
