<section id="feature-desc">
  <div class="container">
    <div class="section-header">
      <h2 class="main-text">Поряд з нами вигідна інфраструктура</h2>
    </div>
    <div class="row">
      <div class="col-4 text-center">
        <div class="icon-block mb50">
          <img src="../../../../assets/images/pic5.jpg" alt="садок і школа">
          <h3>Садок і школа</h3>
          <p>- Садок 290 м.</p>
          <p>- Школа 900 м.</p>
        </div>
      </div>
      <div class="col-4 text-center">
        <div class="icon-block mb50">
          <img src="../../../../assets/images/park.jpg" alt="парк">
          <h3>Парк</h3>
          <p>- Парк Горіховий Гай 950 м.</p>
          <p>- Парк Стрийський парк 1,4 км.</p>
        </div>
      </div>
      <div class="col-4 text-center">
        <div class="icon-block mb50">
          <img src="../../../../assets/images/market.jpg" alt="супермаркет">
          <h3>Супермаркет</h3>
          <p>- Супермаркет Рукавичка 350 м.</p>
          <p>- Супермаркет Фуршет 900 м.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4 text-center">
        <div class="icon-block mb50">
          <img src="../../../../assets/images/bassein.jpg" alt="басейн">
          <h3>Розваги</h3>
          <p>- Аквапарк «ПЛЯЖ» 2,2 км</p>
          <p>- Розважальний Комплекс Медик 800 м</p>
        </div>
      </div>
      <div class="col-4 text-center">
        <div class="icon-block mb50">
          <img src="../../../../assets/images/centre.jpg" alt="центр">
          <h3>Центр</h3>
          <p>- До проспекту Свободи 3 км.</p>
        </div>
      </div>
      <div class="col-4 text-center">
        <div class="icon-block mb50">
          <img src="../../../../assets/images/railway.jpg" alt="вокзал">
          <h3>Вокзал</h3>
          <p>- Вокзал 3 км.</p>
        </div>
      </div>
    </div>
  </div>
</section>
