.home-footer-top {
  background-color: #212121;
  color: #ffffff !important;
}
.mat-list-item {
  color: #ffffff !important;
}
.footer-box {
  padding-top: 13px;
  padding-bottom: 0;
  box-shadow: 3px 0px 4px rgba(0, 0, 0, 0.2);
  a {
    color: #00F47D;
  }
}
.footer-box:first-child {
  padding-left: 0;
}

.footer-box .mat-list {
  padding: 0 !important;
}
.footer-box .mat-list-item-content {
  padding-left: 0 !important;
}
.footer-box .mat-list-text {
  color: #ffffff;
}

@media (max-width: 959px) {
  .footer-box:first-child {
    padding-left: 30px;
  }
  .footer-box {
      box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
  }
}
