<section id="contact-section" class="home-section" [ngClass]="{'light-gray': backgroundGray}">
  <div class="container">
    <div class="section-header">
      <h2 class="main-text">Контакти</h2>
      <h2><a href="mailto:delta_kam@ukr.net" class="text-center">Напишіть нам: <span>delta_kam@ukr.net</span></a></h2>
      <h2><a href="tel:+380673713288" class="text-center">Подзвоніть нам: <span>+ 38 067 371 3288</span></a></h2>
    </div>

    <div class="iframe-wrap">

      <div class='map-frame'>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2574.1093799706814!2d24.007568115708715!3d49.821609379393585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473ae785f5ee21b7:0x280b06b28690b25e!2z0LLRg9C70LjRhtGPINCa0YPQu9C40LrRltCy0YHRjNC60LAsIDM5LCDQm9GM0LLRltCyLCDQm9GM0LLRltCy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsIDc5MDAw!5e0!3m2!1suk!2sua!4v1539114378049"
                width="100%"
                height="510"
                frameborder="0"
                style="border:0"
                allowfullscreen>
        </iframe>
      </div>

      <div class='form-frame'>
        <!-- www.123formbuilder.com script begins here -->
        <iframe allowTransparency="true" style="min-height:300px; height:inherit; overflow:auto;" width="100%" id="contactform123" name="contactform123" marginwidth="0" marginheight="0" frameborder="0" src="//www.123formbuilder.com/my-contact-form-4350182.html">
          <p>Your browser does not support iframes. The contact form cannot be displayed. Please use another contact method (phone, fax etc)</p>
        </iframe>
        <!-- www.123formbuilder.com script ends here -->
      </div>

      <!--<form method="POST" action="https://formspree.io/aputop@yahoo.com" #f="ngForm"-->
            <!--novalidate [formGroup]="contactForm" class="submit-form">-->
        <!--<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="wrap">-->

          <!--<div fxFlex="100">-->
            <!--<div class="pb-1">-->
              <!--<h3>Залишіть ваші контакти і наш менеджер до вас зателефонує!</h3>-->
              <!--<p>Краще один раз побачити!</p>-->
              <!--&lt;!&ndash;<p class="asterisk">Поля, відмічені <span>*</span> обов’язкові</p>&ndash;&gt;-->
            <!--</div>-->
          <!--</div>-->

          <!--<div fxFlex="100">-->
            <!--<div class="pb-1">-->
              <!--<mat-form-field class="full-width">-->
                <!--<input matInput name="name" [formControl]="contactForm.controls['name']" placeholder="Ім’я та Прізвище*">-->
              <!--</mat-form-field>-->
              <!--<small *ngIf="contactForm.controls.name.touched && contactForm.controls.name.errors?.required"-->
                     <!--class="form-error-msg">Ім’я та Прізвище обов’язкові</small>-->
            <!--</div>-->
            <!--<div class="pb-1">-->
              <!--<mat-form-field class="full-width">-->
                <!--<input matInput name="email" [formControl]="contactForm.controls['email']" placeholder="Ваш Email*">-->
              <!--</mat-form-field>-->
              <!--<small *ngIf="contactForm.controls.email.touched && contactForm.controls.email.errors?.email"-->
                     <!--class="form-error-msg">Неправильний Email</small>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div fxFlex="100">-->
            <!--<div class="pb-1">-->
              <!--<mat-form-field class="full-width">-->
                <!--<input matInput name="mobile" [formControl]="contactForm.controls['mobile']"-->
                       <!--placeholder="Ваш телефон" (keypress)="onlyNumberKey($event)">-->
              <!--</mat-form-field>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div fxFlex="100">-->
            <!--<button mat-fab color="primary" (click)="clear()" [disabled]="!contactForm.valid"><mat-icon>send</mat-icon></button>-->
          <!--</div>-->
        <!--</div>-->
      <!--</form>-->

    </div>

  </div>
</section>
